<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Global Brigades Panamá - Logística</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap_table")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/AngularJS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapTable")
    @Scripts.Render("~/bundles/bootstrapTableLocale")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document.body).tooltip({ selector: "[data-toggle='tooltip']" });
    </script>

</body>
</html>
