<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/angular.min.js")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Logística", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Brigadas&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Fichas</a></li>
                            <li><a href="#">Itinerarios</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Calendario de Brigada</a></li>
                            <li><a href="#">Calendario de Eventos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Métricas&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Evaluaciones</a></li>
                            <li><a href="#">Reportes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Configuraciones&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Campamentos</a></li>
                            <li><a href="#">Comunidades</a></li>
                            <li><a href="#">Equipos de Cocina</a></li>
                            <li><a href="#">Equipos de Seguridad</a></li>
                            <li><a href="#">Inventario de Cocina</a></li>
                            <li><a href="#">Inventario de Medicinas</a></li>
                            <li><a href="#">Personal</a></li>
                            <li><a href="#">Universidades</a></li>
                            <li><a href="#">Vehículos</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Usuarios</a></li>
                            <li><a href="#">Roles</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document.body).tooltip({ selector: "[data-toggle='tooltip']" });
    </script>

</body>
</html>
